In [1]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv("./../data/integrated-data/data_raw.csv")

In [9]:
df.head()

,Column1,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Final energy consumption (ktoe),58816.422500,63233.494570,60538.084000,59751.240510,57717.018990,56560.000790,57470.247960,48354.971760,55301.191510,...,46330.123010,47582.017550,49478.046590,49249.122880,48294.540560,50171.633790,50152.935830,49549.410440,49398.925150,44756.364220
1,Space heating,48317.962730,52261.842930,49313.230110,48225.908470,46045.158820,44720.114480,45716.674140,36973.536140,43791.407330,...,35958.385150,37373.300880,39363.817030,38541.926740,37332.935300,39386.027170,39419.023150,38881.022540,38159.985660,34780.259310
2,Solids,918.354256,892.272915,730.453568,740.904729,598.979450,603.703955,679.558297,717.507309,651.705417,...,572.764918,600.784867,519.579708,500.376526,492.475236,345.388306,315.705933,348.112984,298.146604,311.483663
3,Liquified petroleum gas (LPG),756.022521,773.856535,689.440324,597.455751,788.728389,696.142011,750.818029,464.008977,643.428393,...,615.785639,510.572262,658.219033,486.058835,735.461698,664.731367,735.114991,667.728276,730.868085,469.595900
4,Diesel oil,16476.626660,18959.800970,16602.492670,16020.429480,14367.639300,14149.994560,15121.033040,8916.043416,13101.305040,...,10038.619070,9710.033023,9419.519385,9282.265840,8017.813485,9384.925853,10303.364920,6036.558121,8393.068797,7924.586964

In [10]:
rows = ['Population', 'Number of households', 'Inhabitants per household',
    'Actual heating degree-days', 'Actual cooling degree-days',
    'Gross domestic product', 'Household consumption expenditure']

parent_categories = ['Space heating', 'Space cooling', 'Water heating', 'Cooking']

df_transpose = df[df.iloc[:, 0].isin(rows)].copy()
df_transpose.set_index(df_transpose.columns[0], inplace=True)
df_transpose = df_transpose.T
df_transpose.index.name = "Year"
df_transpose.reset_index(inplace=True)

In [11]:
df_transpose

Column1,Year,Population,Number of households,Inhabitants per household,Actual heating degree-days,Actual cooling degree-days,Gross domestic product,Household consumption expenditure
0,2000,82163475.0,38136234.0,2.154473,3636.65,1.15,3295140.008,1853218.384
1,2001,82259540.0,38317671.0,2.146778,3423.87,0.93,3349036.490,1871497.485
2,2002,82440309.0,38540012.0,2.139084,3210.62,7.66,3341396.677,1861025.537
3,2003,82536680.0,38724361.0,2.131389,3215.86,17.75,3323696.755,1875000.513
4,2004,82531671.0,38862308.0,2.123695,3501.02,7.00,3362311.399,1886923.197
5,2005,82500849.0,38989059.0,2.116000,3663.45,1.92,3392115.619,1903980.247
6,2006,82437995.0,39331104.0,2.096000,3555.26,6.77,3523280.045,1931127.377
7,2007,82314906.0,39593509.0,2.079000,3693.15,3.21,3625055.031,1928247.726
8,2008,82217837.0,40008680.0,2.055000,3079.76,3.41,3657250.822,1929468.383
9,2009,82002356.0,40079353.0,2.046000,2989.94,7.57,3454456.178,1936470.720
10,2010,81802257.0,40296678.0,2.030000,2963.50,6.50,3597285.175,1947365.128
11,2011,80222065.0,39733564.0,2.019000,3400.57,7.59,3732492.976,1970393.528
12,2012,80327900.0,39984022.0,2.009000,3076.83,25.72,3749758.266,1992587.682
13,2013,80523746.0,39823811.0,2.022000,3278.21,0.51,3764658.394,1994232.116
14,2014,80767463.0,40023520.0,2.018000,2994.50,48.96,3846758.188,2013961.263
15,2015,81197537.0,40558210.0,2.002000,3261.40,15.84,3910711.345,2060423.544
16,2016,82175684.0,40822496.0,2.013000,3815.50,3.27,3997625.706,2106471.395
17,2017,82521653.0,41178470.0,2.004000,3227.46,7.77,4109480.783,2138125.799
18,2018,82792351.0,41437613.0,1.998000,3111.72,14.00,4156123.782,2168351.970
19,2019,83019213.0,41551158.0,1.998000,2974.45,5.47,4196766.143,2204522.175
20,2020,83166711.0,41467181.0,2.005603,2842.27,7.21,4023378.626,2055696.812
21,2021,83155031.0,41473831.0,2.005000,3216.74,12.09,4180695.601,2096191.744
22,2022,83237124.0,41514775.0,2.005000,3052.98,13.60,4256330.411,2233093.159
23,2023,83118501.0,41086753.0,2.023000,3221.84,51.71,4219310.000,2218511.000

In [12]:
for col in df_transpose.columns:
    if col != 'Year':
        df_transpose[col] = df_transpose[col].astype(str).str.replace(',', '').astype(float)

In [13]:
rename_map = {
    'Actual heating degree-days': 'HDD',
    'Actual cooling degree-days': 'CDD',
    'Gross domestic product': 'GDP',
    'Household consumption expenditure': 'Expenditure',
    'Number of households': 'Households'
}

df_transpose.rename(columns=rename_map, inplace=True)

In [14]:
panel_data = []
current_end_use = None

for index, row in df.iterrows():
    label = str(row.iloc[0]).strip()
    
    if label in parent_categories:
        current_end_use = label
        continue 

    if current_end_use and label not in rows and label != 'Final energy consumption (ktoe)':
    
        row_data = row.iloc[1:].to_dict()
        for year, value in row_data.items():
            panel_data.append({
                'Year': year,
                'End_Use': current_end_use,
                'Fuel_Technology': label,
                'Energy_ktoe': value
            })

In [15]:
df_energy = pd.DataFrame(panel_data)
df_energy['Energy_ktoe'] = df_energy['Energy_ktoe'].astype(str).str.replace(',', '')
df_energy['Energy_ktoe'] = pd.to_numeric(df_energy['Energy_ktoe'], errors='coerce')
df_energy

     Year        End_Use Fuel_Technology  Energy_ktoe
0    2000  Space heating          Solids   918.354256
1    2001  Space heating          Solids   892.272915
2    2002  Space heating          Solids   730.453568
3    2003  Space heating          Solids   740.904729
4    2004  Space heating          Solids   598.979450
..    ...            ...             ...          ...
499  2019        Cooking     Electricity  2277.876078
500  2020        Cooking     Electricity  2201.671612
501  2021        Cooking     Electricity  2289.859809
502  2022        Cooking     Electricity  2603.632644
503  2023        Cooking     Electricity  2272.917620

[504 rows x 4 columns]

In [16]:
df_transpose['Year'] = df_transpose['Year'].astype(int)
df_energy['Year'] = df_energy['Year'].astype(int)

df_final = pd.merge(df_energy, df_transpose, on='Year', how='left')
df_final = df_final.sort_values(by=['Year', 'End_Use', 'Fuel_Technology'])
df_final

,Year,End_Use,Fuel_Technology,Energy_ktoe,Population,Households,Inhabitants per household,HDD,CDD,GDP,Expenditure
480,2000,Cooking,Electricity,2603.127898,82163475.0,38136234.0,2.154473,3636.65,1.15,3295140.008,1853218.384
456,2000,Cooking,Natural gas,75.099968,82163475.0,38136234.0,2.154473,3636.65,1.15,3295140.008,1853218.384
240,2000,Space cooling,Air conditioning,49.765895,82163475.0,38136234.0,2.154473,3636.65,1.15,3295140.008,1853218.384
168,2000,Space heating,Advanced electric heating,91.031836,82163475.0,38136234.0,2.154473,3636.65,1.15,3295140.008,1853218.384
96,2000,Space heating,Biomass,3840.225618,82163475.0,38136234.0,2.154473,3636.65,1.15,3295140.008,1853218.384
...,...,...,...,...,...,...,...,...,...,...,...
431,2023,Water heating,Electricity,955.953610,83118501.0,41086753.0,2.023000,3221.84,51.71,4219310.000,2218511.000
383,2023,Water heating,Geothermal,3.206848,83118501.0,41086753.0,2.023000,3221.84,51.71,4219310.000,2218511.000
287,2023,Water heating,Liquified petroleum gas (LPG),86.987505,83118501.0,41086753.0,2.023000,3221.84,51.71,4219310.000,2218511.000
335,2023,Water heating,Natural gas,3267.809027,83118501.0,41086753.0,2.023000,3221.84,51.71,4219310.000,2218511.000
455,2023,Water heating,Solar,749.331212,83118501.0,41086753.0,2.023000,3221.84,51.71,4219310.000,2218511.000

In [17]:
df_final["Energy_ktoe"].fillna(0, inplace=True)
df_final.reset_index(drop=True, inplace=True)

C:\Users\Hiu\AppData\Local\Temp\ipykernel_9872\2469865533.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_final["Energy_ktoe"].fillna(0, inplace=True)

In [18]:
df_final.shape

(504, 11)

In [19]:
df_final.to_csv('./../data/integrated-data/residential_panel_data.csv', index=False)