In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./../data/integrated-data/residential_panel_data.csv")
df.head()

,Year,End_Use,Fuel_Technology,Energy_ktoe,Population,Households,Inhabitants per household,HDD,CDD,GDP,Expenditure
0,2000,Cooking,Electricity,2603.127898,82163475.0,38136234.0,2.154473,3636.65,1.15,3295140.008,1853218.384
1,2000,Cooking,Natural gas,75.099968,82163475.0,38136234.0,2.154473,3636.65,1.15,3295140.008,1853218.384
2,2000,Space cooling,Air conditioning,49.765895,82163475.0,38136234.0,2.154473,3636.65,1.15,3295140.008,1853218.384
3,2000,Space heating,Advanced electric heating,91.031836,82163475.0,38136234.0,2.154473,3636.65,1.15,3295140.008,1853218.384
4,2000,Space heating,Biomass,3840.225618,82163475.0,38136234.0,2.154473,3636.65,1.15,3295140.008,1853218.384

In [3]:
df.isna().sum()

Year                         0
End_Use                      0
Fuel_Technology              0
Energy_ktoe                  0
Population                   0
Households                   0
Inhabitants per household    0
HDD                          0
CDD                          0
GDP                          0
Expenditure                  0
dtype: int64

In [4]:
df.nunique()

Year                          24
End_Use                        4
Fuel_Technology               13
Energy_ktoe                  499
Population                    24
Households                    24
Inhabitants per household     24
HDD                           24
CDD                           24
GDP                           24
Expenditure                   24
dtype: int64

In [5]:
df.dtypes

Year                           int64
End_Use                       object
Fuel_Technology               object
Energy_ktoe                  float64
Population                   float64
Households                   float64
Inhabitants per household    float64
HDD                          float64
CDD                          float64
GDP                          float64
Expenditure                  float64
dtype: object

In [6]:
df_lag = df.copy()
df_lag['Energy_Lag1'] = df_lag.groupby(['End_Use', 'Fuel_Technology'])['Energy_ktoe'].shift(1)

In [7]:
df_processed = pd.get_dummies(df, columns=['Fuel_Technology'], prefix='Tech')
df_lag_processed = pd.get_dummies(df_lag, columns=['Fuel_Technology'], prefix='Tech')

In [8]:
df_processed

,Year,End_Use,Energy_ktoe,Population,Households,Inhabitants per household,HDD,CDD,GDP,Expenditure,...,Tech_Conventional electric heating,Tech_Diesel oil,Tech_Distributed heat,Tech_Electricity,Tech_Electricity in circulation,Tech_Geothermal,Tech_Liquified petroleum gas (LPG),Tech_Natural gas,Tech_Solar,Tech_Solids
0,2000,Cooking,2603.127898,82163475.0,38136234.0,2.154473,3636.65,1.15,3295140.008,1853218.384,...,False,False,False,True,False,False,False,False,False,False
1,2000,Cooking,75.099968,82163475.0,38136234.0,2.154473,3636.65,1.15,3295140.008,1853218.384,...,False,False,False,False,False,False,False,True,False,False
2,2000,Space cooling,49.765895,82163475.0,38136234.0,2.154473,3636.65,1.15,3295140.008,1853218.384,...,False,False,False,False,False,False,False,False,False,False
3,2000,Space heating,91.031836,82163475.0,38136234.0,2.154473,3636.65,1.15,3295140.008,1853218.384,...,False,False,False,False,False,False,False,False,False,False
4,2000,Space heating,3840.225618,82163475.0,38136234.0,2.154473,3636.65,1.15,3295140.008,1853218.384,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,2023,Water heating,955.953610,83118501.0,41086753.0,2.023000,3221.84,51.71,4219310.000,2218511.000,...,False,False,False,True,False,False,False,False,False,False
500,2023,Water heating,3.206848,83118501.0,41086753.0,2.023000,3221.84,51.71,4219310.000,2218511.000,...,False,False,False,False,False,True,False,False,False,False
501,2023,Water heating,86.987505,83118501.0,41086753.0,2.023000,3221.84,51.71,4219310.000,2218511.000,...,False,False,False,False,False,False,True,False,False,False
502,2023,Water heating,3267.809027,83118501.0,41086753.0,2.023000,3221.84,51.71,4219310.000,2218511.000,...,False,False,False,False,False,False,False,True,False,False
503,2023,Water heating,749.331212,83118501.0,41086753.0,2.023000,3221.84,51.71,4219310.000,2218511.000,...,False,False,False,False,False,False,False,False,True,False

In [9]:
df_lag_processed

,Year,End_Use,Energy_ktoe,Population,Households,Inhabitants per household,HDD,CDD,GDP,Expenditure,...,Tech_Conventional electric heating,Tech_Diesel oil,Tech_Distributed heat,Tech_Electricity,Tech_Electricity in circulation,Tech_Geothermal,Tech_Liquified petroleum gas (LPG),Tech_Natural gas,Tech_Solar,Tech_Solids
0,2000,Cooking,2603.127898,82163475.0,38136234.0,2.154473,3636.65,1.15,3295140.008,1853218.384,...,False,False,False,True,False,False,False,False,False,False
1,2000,Cooking,75.099968,82163475.0,38136234.0,2.154473,3636.65,1.15,3295140.008,1853218.384,...,False,False,False,False,False,False,False,True,False,False
2,2000,Space cooling,49.765895,82163475.0,38136234.0,2.154473,3636.65,1.15,3295140.008,1853218.384,...,False,False,False,False,False,False,False,False,False,False
3,2000,Space heating,91.031836,82163475.0,38136234.0,2.154473,3636.65,1.15,3295140.008,1853218.384,...,False,False,False,False,False,False,False,False,False,False
4,2000,Space heating,3840.225618,82163475.0,38136234.0,2.154473,3636.65,1.15,3295140.008,1853218.384,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,2023,Water heating,955.953610,83118501.0,41086753.0,2.023000,3221.84,51.71,4219310.000,2218511.000,...,False,False,False,True,False,False,False,False,False,False
500,2023,Water heating,3.206848,83118501.0,41086753.0,2.023000,3221.84,51.71,4219310.000,2218511.000,...,False,False,False,False,False,True,False,False,False,False
501,2023,Water heating,86.987505,83118501.0,41086753.0,2.023000,3221.84,51.71,4219310.000,2218511.000,...,False,False,False,False,False,False,True,False,False,False
502,2023,Water heating,3267.809027,83118501.0,41086753.0,2.023000,3221.84,51.71,4219310.000,2218511.000,...,False,False,False,False,False,False,False,True,False,False
503,2023,Water heating,749.331212,83118501.0,41086753.0,2.023000,3221.84,51.71,4219310.000,2218511.000,...,False,False,False,False,False,False,False,False,True,False

In [10]:
df_lag_clean = df_lag_processed.dropna(subset=['Energy_Lag1'])

In [13]:
train_df = df_processed[df_processed['Year'] <= 2021].copy()
test_df  = df_processed[df_processed['Year'] > 2021].copy()

train_df_lag = df_lag_clean[df_lag_clean['Year'] <= 2021].copy()
test_df_lag  = df_lag_clean[df_lag_clean['Year'] > 2021].copy()

In [14]:
train_df.to_csv("./../data/preprocessed/train.csv", index=False)
test_df.to_csv("./../data/preprocessed/test.csv", index=False)

train_df_lag.to_csv("./../data/preprocessed/train_lag.csv", index=False)
test_df_lag.to_csv("./../data/preprocessed/test_lag.csv", index=False)