In [25]:
import pandas as pd

In [26]:
df = pd.read_csv("./../data/integrated-data/residential_panel_data.csv")
df.head()

,Year,End_Use,Fuel_Technology,Energy_ktoe,Population,Households,Inhabitants per household,HDD,CDD,GDP,Expenditure
0,2000,Cooking,Biomass and wastes,0.000,82163475.0,38136234.0,2.154,2803.0,8.0,2358694.0,1379742.0
1,2000,Cooking,Electricity,1430.199,82163475.0,38136234.0,2.154,2803.0,8.0,2358694.0,1379742.0
2,2000,Cooking,Gases incl. biogas,1575.000,82163475.0,38136234.0,2.154,2803.0,8.0,2358694.0,1379742.0
3,2000,Cooking,Liquified petroleum gas (LPG),586.700,82163475.0,38136234.0,2.154,2803.0,8.0,2358694.0,1379742.0
4,2000,Cooking,Solids,0.000,82163475.0,38136234.0,2.154,2803.0,8.0,2358694.0,1379742.0

In [27]:
df.isna().sum()

Year                         0
End_Use                      0
Fuel_Technology              0
Energy_ktoe                  0
Population                   0
Households                   0
Inhabitants per household    0
HDD                          0
CDD                          0
GDP                          0
Expenditure                  0
dtype: int64

In [28]:
df.nunique()

Year                          16
End_Use                        4
Fuel_Technology               13
Energy_ktoe                  333
Population                    16
Households                    16
Inhabitants per household     16
HDD                           16
CDD                           13
GDP                           16
Expenditure                   16
dtype: int64

In [29]:
df.dtypes

Year                           int64
End_Use                       object
Fuel_Technology               object
Energy_ktoe                  float64
Population                   float64
Households                   float64
Inhabitants per household    float64
HDD                          float64
CDD                          float64
GDP                          float64
Expenditure                  float64
dtype: object

In [30]:
df_lag = df.copy()
df_lag['Energy_Lag1'] = df_lag.groupby(['End_Use', 'Fuel_Technology'])['Energy_ktoe'].shift(1)

In [31]:
df_processed = pd.get_dummies(df, columns=['Fuel_Technology'], prefix='Tech')
df_lag_processed = pd.get_dummies(df_lag, columns=['Fuel_Technology'], prefix='Tech')

In [32]:
df_processed

,Year,End_Use,Energy_ktoe,Population,Households,Inhabitants per household,HDD,CDD,GDP,Expenditure,...,Tech_Conventional electric heating,Tech_Derived heat,Tech_Electricity,Tech_Electricity in circulation,Tech_Gas/Diesel oil incl. biofuels (GDO),Tech_Gases incl. biogas,Tech_Geothermal energy,Tech_Liquified petroleum gas (LPG),Tech_Solar,Tech_Solids
0,2000,Cooking,0.000,82163475.0,38136234.0,2.154,2803.0,8.0,2358694.0,1379742.0,...,False,False,False,False,False,False,False,False,False,False
1,2000,Cooking,1430.199,82163475.0,38136234.0,2.154,2803.0,8.0,2358694.0,1379742.0,...,False,False,True,False,False,False,False,False,False,False
2,2000,Cooking,1575.000,82163475.0,38136234.0,2.154,2803.0,8.0,2358694.0,1379742.0,...,False,False,False,False,False,True,False,False,False,False
3,2000,Cooking,586.700,82163475.0,38136234.0,2.154,2803.0,8.0,2358694.0,1379742.0,...,False,False,False,False,False,False,False,True,False,False
4,2000,Cooking,0.000,82163475.0,38136234.0,2.154,2803.0,8.0,2358694.0,1379742.0,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,2015,Water heating,2950.000,81197537.0,40558210.0,2.002,2909.0,55.0,2800922.0,1534790.0,...,False,False,False,False,False,True,False,False,False,False
396,2015,Water heating,0.000,81197537.0,40558210.0,2.002,2909.0,55.0,2800922.0,1534790.0,...,False,False,False,False,False,False,True,False,False,False
397,2015,Water heating,56.000,81197537.0,40558210.0,2.002,2909.0,55.0,2800922.0,1534790.0,...,False,False,False,False,False,False,False,True,False,False
398,2015,Water heating,633.000,81197537.0,40558210.0,2.002,2909.0,55.0,2800922.0,1534790.0,...,False,False,False,False,False,False,False,False,True,False
399,2015,Water heating,95.000,81197537.0,40558210.0,2.002,2909.0,55.0,2800922.0,1534790.0,...,False,False,False,False,False,False,False,False,False,True

In [33]:
df_lag_processed

,Year,End_Use,Energy_ktoe,Population,Households,Inhabitants per household,HDD,CDD,GDP,Expenditure,...,Tech_Conventional electric heating,Tech_Derived heat,Tech_Electricity,Tech_Electricity in circulation,Tech_Gas/Diesel oil incl. biofuels (GDO),Tech_Gases incl. biogas,Tech_Geothermal energy,Tech_Liquified petroleum gas (LPG),Tech_Solar,Tech_Solids
0,2000,Cooking,0.000,82163475.0,38136234.0,2.154,2803.0,8.0,2358694.0,1379742.0,...,False,False,False,False,False,False,False,False,False,False
1,2000,Cooking,1430.199,82163475.0,38136234.0,2.154,2803.0,8.0,2358694.0,1379742.0,...,False,False,True,False,False,False,False,False,False,False
2,2000,Cooking,1575.000,82163475.0,38136234.0,2.154,2803.0,8.0,2358694.0,1379742.0,...,False,False,False,False,False,True,False,False,False,False
3,2000,Cooking,586.700,82163475.0,38136234.0,2.154,2803.0,8.0,2358694.0,1379742.0,...,False,False,False,False,False,False,False,True,False,False
4,2000,Cooking,0.000,82163475.0,38136234.0,2.154,2803.0,8.0,2358694.0,1379742.0,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,2015,Water heating,2950.000,81197537.0,40558210.0,2.002,2909.0,55.0,2800922.0,1534790.0,...,False,False,False,False,False,True,False,False,False,False
396,2015,Water heating,0.000,81197537.0,40558210.0,2.002,2909.0,55.0,2800922.0,1534790.0,...,False,False,False,False,False,False,True,False,False,False
397,2015,Water heating,56.000,81197537.0,40558210.0,2.002,2909.0,55.0,2800922.0,1534790.0,...,False,False,False,False,False,False,False,True,False,False
398,2015,Water heating,633.000,81197537.0,40558210.0,2.002,2909.0,55.0,2800922.0,1534790.0,...,False,False,False,False,False,False,False,False,True,False
399,2015,Water heating,95.000,81197537.0,40558210.0,2.002,2909.0,55.0,2800922.0,1534790.0,...,False,False,False,False,False,False,False,False,False,True

In [ ]:
df_lag_clean = df_lag_processed.dropna(subset=['Energy_Lag1'])

,Year,End_Use,Energy_ktoe,Population,Households,Inhabitants per household,HDD,CDD,GDP,Expenditure,...,Tech_Conventional electric heating,Tech_Derived heat,Tech_Electricity,Tech_Electricity in circulation,Tech_Gas/Diesel oil incl. biofuels (GDO),Tech_Gases incl. biogas,Tech_Geothermal energy,Tech_Liquified petroleum gas (LPG),Tech_Solar,Tech_Solids
25,2001,Cooking,0.000,82259540.0,38317671.0,2.147,3137.0,13.0,2398682.0,1402017.0,...,False,False,False,False,False,False,False,False,False,False
26,2001,Cooking,1425.478,82259540.0,38317671.0,2.147,3137.0,13.0,2398682.0,1402017.0,...,False,False,True,False,False,False,False,False,False,False
27,2001,Cooking,1558.000,82259540.0,38317671.0,2.147,3137.0,13.0,2398682.0,1402017.0,...,False,False,False,False,False,True,False,False,False,False
28,2001,Cooking,595.600,82259540.0,38317671.0,2.147,3137.0,13.0,2398682.0,1402017.0,...,False,False,False,False,False,False,False,True,False,False
29,2001,Cooking,0.000,82259540.0,38317671.0,2.147,3137.0,13.0,2398682.0,1402017.0,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,2015,Water heating,2950.000,81197537.0,40558210.0,2.002,2909.0,55.0,2800922.0,1534790.0,...,False,False,False,False,False,True,False,False,False,False
396,2015,Water heating,0.000,81197537.0,40558210.0,2.002,2909.0,55.0,2800922.0,1534790.0,...,False,False,False,False,False,False,True,False,False,False
397,2015,Water heating,56.000,81197537.0,40558210.0,2.002,2909.0,55.0,2800922.0,1534790.0,...,False,False,False,False,False,False,False,True,False,False
398,2015,Water heating,633.000,81197537.0,40558210.0,2.002,2909.0,55.0,2800922.0,1534790.0,...,False,False,False,False,False,False,False,False,True,False
399,2015,Water heating,95.000,81197537.0,40558210.0,2.002,2909.0,55.0,2800922.0,1534790.0,...,False,False,False,False,False,False,False,False,False,True

In [36]:
train_df = df_processed[df_processed['Year'] <= 2013].copy()
test_df  = df_processed[df_processed['Year'] > 2013].copy()

train_df_lag = df_lag_clean[df_lag_clean['Year'] <= 2013].copy()
test_df_lag  = df_lag_clean[df_lag_clean['Year'] > 2013].copy()

In [37]:
train_df.to_csv("./../data/preprocessed/train.csv", index=False)
test_df.to_csv("./../data/preprocessed/test.csv", index=False)

train_df_lag.to_csv("./../data/preprocessed/train_lag.csv", index=False)
test_df_lag.to_csv("./../data/preprocessed/test_lag.csv", index=False)